.photo {
    border-radius: 55%;
    width: 250px;
    height: auto;
    margin: 10px;
}

.z {
    margin-top: -10px;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    color: white;
    background-color: #8070D8;
}

.mn {
    margin-top: -34px;
    background-color: #6A94D4;
}

.dv {
    display: flex;
}

.bd {
    margin-left: 25%;
    width: 700px;
}
.wt{
    color: white;
}
.am{
    background-color: #5ED1BA;
    margin-top: -34px;
    width: 70%;
    font-size: 20px;
    background-color: #5ED1BA;
    color: white;
    padding-left: 20px;
    padding-right: 60px;
}
.h{
    text-align: center;
    font-size: 30px;
    color: white;
}
.dv1 {
    display: flex;
    flex-direction: column;
}
.contacts{
    margin-top: -15px;
    margin-left: 10px;
    margin-right: 10px;
    border: 5px solid white;
    border-radius: 10px;
    color: white;
}
.ca{
    margin-top: 5px;
    margin-left: 10px;
}
pc{
    weight: 30%;
}
.re{
    margin-left: 10px;
    font-size: 20px;
    font-family: Times New Roman;
}
.mat{
    margin-top: -30px;
}
.fer{
    background-color: #8070D8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.gh{
    weight: 50px;
    height: 50px;
    margin: 30px;
}
.year{
    color: white;
    text-align: center;
    font-size: 30px;
}
.code{
    margin-left: 25%;
}